.pageMenuOverlayContainer {
	background-color: rgba(0, 0, 0, 0);
	bottom: 0;
	display: flex;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	transition: visibility 0s linear 0.24s;
	visibility: hidden;
	z-index: 320;

	&[data-menu="main"] {
		.pageMenuOverlayWrapper {
			margin-right: 40px;
			transform: translateX(-100%);

			&::after {
				box-shadow: inset 7px 0 10px -7px rgba(0, 0, 0, 0.6);
				right: -40px;
			}
		}
	}

	&[data-menu="user"] {
		flex-direction: row-reverse;

		.pageMenuOverlayWrapper {
			margin-left: 40px;
			transform: translateX(100%);

			&::after {
				box-shadow: inset -7px 0 10px -7px rgba(0, 0, 0, 0.6);
				left: -40px;
			}
		}
	}

	&.open {
		background-color: rgba(0, 0, 0, 0.3);
		visibility: visible;
		transition-delay: 0s;

		.pageMenuOverlayWrapper {
			transform: translateX(0);
		}
	}
}

.pageMenuOverlayWrapper {
	background-color: $wcfContentBackground;
	color: $wcfContentText;
	display: flex;
	flex: 1 auto;
	flex-direction: column;
	max-width: 350px;
	position: relative;
	transition: transform 0.24s ease-in-out;

	&::after {
		bottom: 0;
		content: "";
		pointer-events: none;
		position: absolute;
		top: 0;
		width: 40px;
	}
}

.pageMenuOverlayContainer[data-menu="main"] .pageMenuOverlayHeader {
	align-items: flex-end;
	border-bottom: 1px solid $wcfContentBorderInner;
	display: flex;
	flex: 0 0 80px;
}

.pageMenuOverlayContainer[data-menu="user"] .pageMenuOverlayHeader {
	column-gap: 10px;
	display: grid;
	grid-template-areas:
		"tabs  tabs"
		"title options";
	grid-template-columns: 1fr min-content;
}

.pageMenuOverlayHeaderLink {
	background-color: $wcfSidebarBackground;
	color: $wcfSidebarHeadlineText;
	flex: 0 0 100%;
	overflow: hidden;
	padding: 10px 20px;
	text-overflow: ellipsis;
	white-space: nowrap;

	@include wcfFontHeadline;

	font-weight: 600;

	&:hover {
		color: inherit;
	}
}

.pageMenuHeaderTabMenu {
	background-color: $wcfContentBorderInner;
	column-gap: 1px;
	display: grid;
	flex: 0 0 100%;
	grid-auto-columns: 1fr;
	grid-auto-flow: column;
	grid-area: tabs;
	height: 56px;
}

.pageMenuHeaderTab {
	align-items: center;
	background-color: $wcfSidebarBackground;
	border-bottom: 1px solid $wcfContentBorderInner;
	color: $wcfSidebarDimmedText;
	display: flex;
	justify-content: center;
	position: relative;

	.icon {
		color: inherit;
	}

	&.active {
		background-color: $wcfContentBackground;
		border-bottom-color: $wcfContentBackground;
		color: $wcfContentText;

		&::after {
			border-bottom: 1px solid $wcfContentBackground;
			bottom: -1px;
			content: "";
			left: 0;
			position: absolute;
			right: 0;
		}
	}
}

.pageMenuHeaderTitle {
	align-self: center;
	grid-area: title;
	overflow: hidden;
	padding: 10px;
	text-overflow: ellipsis;
	white-space: nowrap;

	@include wcfFontHeadline;

	font-weight: 600;
}

.pageMenuHeaderOptions {
	align-self: center;
	align-items: center;
	color: $wcfContentDimmedText;
	display: flex;
	height: 32px;
	justify-content: center;
	margin-right: 5px;
	width: 32px;
}

.pageMenuOverlayMenu {
	display: flex;
	flex: 1 auto;
	flex-direction: column;
	overflow: auto;
	padding-bottom: 20px;
}

.pageMenuOverlayItemGroup {
	border-bottom: 1px solid $wcfContentBorderInner;
	margin-left: 20px;
	margin-right: 20px;

	&:not(:first-child) {
		border-top: 1px solid $wcfContentBorderInner;
		margin-top: 60px;
	}

	&.pageMenuOverlayItemGroupBottom {
		border-top-width: 0;
		margin-top: auto;
		padding-top: 60px;

		.pageMenuOverlayItem:first-child {
			border-top: 1px solid $wcfContentBorderInner;
		}
	}
}

.pageMenuOverlayItem {
	display: flex;
	flex-wrap: wrap;

	&:not(:first-child) {
		border-top: 1px solid $wcfContentBorderInner;
	}
}

.pageMenuOverlayItemLink {
	color: inherit;
	flex: 1 auto;
	justify-content: space-between;
	overflow: hidden;
	padding: 11px 0;
	text-overflow: ellipsis;
	white-space: nowrap;

	&:hover {
		color: inherit;
	}
}

.pageMenuOverlayItemLinkMore {
	align-items: center;
	color: inherit;
	display: flex;
	flex: 0 0 auto;
	margin-left: 1px;
	padding: 10px 15px;
	position: relative;
	text-align: center;

	&::before {
		border-left: 1px dashed $wcfContentBorderInner;
		bottom: 7px;
		content: "";
		left: -1px;
		position: absolute;
		top: 7px;
	}

	&::after {
		content: $fa-var-angle-down;
		font-family: FontAwesome;
		font-size: 18px;
		height: 24px;
		line-height: 24px;
		transition: transform 0.24s ease-in-out;
		transform: rotate(0deg);
		width: 24px;
	}

	&:hover {
		color: inherit;
	}

	&.open {
		&::after {
			transform: rotate(180deg);
		}

		+ .pageMenuOverlaySubMenu {
			display: block;
		}
	}
}

.pageMenuOverlaySubMenu {
	display: none;
	flex: 0 0 100%;
}

.pageMenuOverlaySubMenuItem {
	color: inherit;
	display: block;
	overflow: hidden;
	padding: 10px;
	text-overflow: ellipsis;
	white-space: nowrap;

	&:hover {
		color: inherit;
	}

	&.pageMenuOverlaySubMenuDepth2 {
		margin-left: 10px;
	}

	&.pageMenuOverlaySubMenuDepth3 {
		margin-left: 30px;
	}
}

.pageMenuOverlayContent {
	flex: 1 auto;
	overflow: auto;
}

.pageMenuOverlayContentEmpty {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	padding: 10px;
}

/* Legacy */
.menuOverlayMobile {
	display: none;
}